
.ikonka {
    filter: invert(84%) sepia(19%) saturate(630%) hue-rotate(111deg) brightness(83%) contrast(88%)
}

.ikonka:hover {
    filter: invert(64%) sepia(23%) saturate(516%) hue-rotate(112deg) brightness(83%) contrast(90%)
}

td.centeredTds {
    vertical-align: middle;
}

.noUnits {
    filter: invert(75%) sepia(0%) saturate(0%) hue-rotate(228deg) brightness(88%) contrast(89%)
}
