
.ikonka {
    filter: invert(59%) sepia(23%) saturate(974%) hue-rotate(52deg) brightness(98%) contrast(88%)
}

.ikonka:hover {
    filter: invert(56%) sepia(11%) saturate(2012%) hue-rotate(53deg) brightness(88%) contrast(89%)
}

td.centeredTds {
    vertical-align: middle;
}

.noUnits {
    filter: invert(86%) sepia(14%) saturate(532%) hue-rotate(53deg) brightness(85%) contrast(86%)
}
