@model Kiinteistosovellus.Models.Contacts

@if (Session["UserName"] != null)
{
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="ModalContactDelete">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header">
                    <h3>Poista yhteystiedot</h3>
                </div>
                <div class="modal-body">
                    <h5>Haluatko varmasti poistaa alla olevat tiedot?</h5>
                    <div>
                        <hr />
                        <h4>@Html.DisplayFor(model => model.Persons.FullName)</h4>
                        <div class="col-sm-12">
                            <dl class="dl-horizontal">
                                <dt>Puhelinnumero</dt>
                                @{
                                    if (Model.PhoneNumber == null)
                                    {
                                        <dd> - </dd>
                                    }
                                    else
                                    {
                                        <dd>@Html.DisplayFor(model => model.PhoneNumber)</dd>
                                    }
                                }

                                <dt>Sähköposti</dt>
                                @{
                                    if (Model.Email == null)
                                    {
                                        <dd> - </dd>
                                    }
                                    else
                                    {
                                        <dd>@Html.DisplayFor(model => model.Email)</dd>
                                    }
                                }

                            </dl>
                        </div>
                        <p class="text-danger">Huom! Tämä toiminto poistaa vain näkyvät yhteystiedot!</p>
                    </div>

                </div>
                <div class="modal-footer">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-actions no-color">
                            <button type="submit" value="Poista" class="btn btn-primary">Poista</button>
                            <a href="#" data-bs-dismiss="modal" onclick='destroyDiv("ModalContactDelete")'>Takaisin</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="ModalContactDelete">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center">
                        <h3>Oho!</h3>
                        <p class="lead">Näyttää siltä, ​​että et ole kirjautunut sisään!</p>
                        <a class="btn btn-primary" href="/Home/Index">Takaisin pääsivuun</a><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
}



