@model Kiinteistosovellus.Models.OtherSpendingTypes

<div class="modal fade" id="ModalOthSpendTypeDelete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Poista</h3>
            </div>

            <div class="modal-body">
                <h5>Haluatko varmasti poistaa alla olevat tiedot?</h5>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.TypeName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TypeName)
                    </dd>
                </dl>
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-actions no-color">
                        <button type="submit" value="Delete" class="btn btn-primary">Poistaa</button>
                        <a href="@Url.Action("Index", "OtherSpendingTypes")">Peruuta</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>