@model Kiinteistosovellus.Models.OtherSpendingTypes

@if (Session["UserName"] != null && Session["Role"].ToString() == "Admin")
{
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="ModalOthSpendTypeDelete">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Poista</h3>
                </div>

                <div class="modal-body">
                    <h5>Haluatko varmasti poistaa alla olevat tiedot?</h5>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            Tyypin nimi
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TypeName)
                        </dd>
                    </dl>
                    <p class="text-danger">Huom! <br />Jos tämä kulutustyyppi on käytössä, poistaminen muuttaisi kulutyyppien nimet kaikissa liittyvissä kuluissa muotoon <br />"(poistettu)"!</p>
                </div>
                <div class="modal-footer">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-actions no-color">
                            <button type="submit" value="Poista" class="btn btn-primary">Poistaa</button>
                            <a href="@Url.Action("Index", "OtherSpendingTypes")">Peruuta</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="ModalOthSpendTypeDelete">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center">
                        <h3>Oho!</h3>
                        <p class="lead">Näyttää siltä, ​​että et ole kirjautunut sisään!</p>
                        <a class="btn btn-primary" href="/Home/Index">Takaisin pääsivuun</a><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
}