@model IEnumerable<Kiinteistosovellus.Models.OtherSpendings>

@{
    ViewBag.Title = "Index";
}

<br />
<h2>Muut kulut</h2>
<br />
<div class="row">
    <div class="col-6">
        <div style="height: 338px" id="chartContainer"></div>
    </div>
    <div class="col-6">
        <div id="chartContainerBar" style="height: 338px"></div>
    </div>
</div>
<br />
<div style="margin-left:40%">@Html.DropDownList("Vuosi", (IEnumerable<SelectListItem>)ViewBag.Vuosi, null, new { @class = "form-control form-select" })</div>
<a class="card-link ikonka creNewOtherSpending" title="Uusi Kulutus" role="button"><img src="/Icons/square-add.svg" height="45"></a>

@*Modal Containers*@
<iframe id="otherSpendingCreate" style="display:none;"></iframe>
<iframe id="otherSpendingEdit" style="display:none;"></iframe>
<iframe id="otherSpendingDelete" style="display:none;"></iframe>

@*//Kuvien modaalit*@
<div id="myModals" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">

</div>

<div class="card border-primary" style="margin:10px 0">
    <div class="card-header bg-primary" style="color: white; font-weight: bold;">Suodatus</div>
    <div class="card-body row">
        <div class="col-md-4">
            <label class="form-label">
                Kulutustyyppi
            </label>
            <div class="dropdown form-group" style="width:93%">
                <div class="form-select form-control" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <div id="hidingField" style="margin-left:auto; margin-right:auto; color:gray">-- Valitse suodattimet --</div>
                </div>
                <ul style="width:100%" class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    @{
                        var array = ViewBag.Kulutyypit;
                        foreach (var item in array)
                        {
                            <li style="width:100%"><a class="dropdown-item activate-this clickable-th">@item</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <label class="form-label">
                Aloituspvm
            </label>
            <input type="date" id="beginDate" class="form-control" />
        </div>
        <div class="col-md-3" style="margin-left:1%">
            <label class="form-label">
                Päättymispvm
            </label>
            <input type="date" id="endDate" class="form-control" />
        </div>
    </div>
</div>

<table class="table" id="sortableTable">
    <thead style="position: sticky; top: 0;">
        <tr class="card-header bg-primary" style="color:white">
            <th id="0" class="clickable-th">Aloituspvm<img src="~/Icons/sort.svg" class="sort-icon" /></th>
            <th id="1" class="clickable-th">Päättymispvm<img src="~/Icons/sort.svg" class="sort-icon" /></th>
            <th id="2" class="clickable-th">Kulutustyyppi<img src="~/Icons/sort.svg" class="sort-icon" /></th>
            <th style="width:25%" id="3" class="clickable-th">Kuvaus<img src="~/Icons/sort.svg" class="sort-icon" /></th>
            <th id="4" class="clickable-th">Kokonaishinta<img src="~/Icons/sort.svg" class="sort-icon" /></th>
            <th id="5" class="clickable-th">Urakoitsija<img src="~/Icons/sort.svg" class="sort-icon" /></th>
            <th id="6" class="clickable-th">Kuva<img src="~/Icons/sort.svg" class="sort-icon" /></th>
            <th></th>
        </tr>
    </thead>

    <tbody id="createBodyHere">
    </tbody>


</table>

<script type="text/javascript">
    var editNodes = $(".getOtherSpendingId");
    var deleteNodes = $(".delOtherSpendingId");

    $("th").click(function () {
        var passedID = this.id.toString();
        var allHeaders = $("th");

        for (var i = 0; i < allHeaders.length; i++) {
            ////console.log($(this).attr('id'));
            if (i == $(this).attr('id')) {
                continue;
            }
            $(allHeaders[i]).removeClass("desc");
            $(allHeaders[i]).removeClass("asc");
        }
        //console.log($(this).hasClass("asc"));
        if ($(this).hasClass("asc")) {
            $(this).removeClass("asc");
            $(this).addClass("desc");
            filterTableAJAX(passedID, "desc");
        } else {
            filterTableAJAX(passedID, "asc");
            $(this).removeClass("desc");
            $(this).addClass("asc");
        }
    });

    $(".activate-this").click(function () {
        event.stopPropagation();
        if ($(this).hasClass("active")) {
            $(this).removeClass("active");
            $(this).removeClass("chosen");
        } else {
            $(this).addClass("active");
            $(this).addClass("chosen");
        }

        var activateThis = $(".activate-this");
        var activeSelect = [];
        for (var i = 0; i < activateThis.length; i++) {
            if ($(activateThis[i]).hasClass("active")) {
                activeSelect.push(activateThis[i].innerText);
            }
        }
        var spans = $(".spans");
        //Jos ei löydy mitään, tuodaan placeholder div takaisin, muutoin poistetaan se
        if (activeSelect.length == 0) {
            $("#hidingField").removeClass("d-none");
        } else {
            $("#hidingField").addClass("d-none");
        }
        //Poistaa kaikki span-elementit
        for (var i = 0; i < spans.length; i++) {
            spans[i].remove();
        }

        //Lisää kaikki aktiiviset listaelementit span-elementteinä diviin
        for (var i = 0; i < activeSelect.length; i++) {
            $("#dropdownMenuButton1").append('<span class="badge rounded-pill bg-primary bg-opacity-75 spans">' + activeSelect[i] + '</span>');
        }

        filterTableAJAX("", "");
        //filterTable("hidingField", "dropdownMenuButton1", "beginDate", "endDate");
    });

    $("#filterBtn").click(function () {
        filterTableAJAX("", "");
    });

    function filterTableAJAX(columnNumber, ascOrDesc) {
        //console.log(columnNumber, ascOrDesc);
        var dateBegin = $("#beginDate").val();
        var dtDateBegin;
        if (dateBegin != "") {
            dtDateBegin = new Date(dateBegin);
        }
        ////console.log(dateBegin);
        var dateEnd = $("#endDate").val();
        var dtDateEnd;
        if (dateEnd != "") {
            dtDateEnd = new Date(dateEnd);
        }
        ////console.log(dateBegin);

        var stringTypes = "";

        var activeClassCollection = $(".chosen");
        activeClassCollection.each(function (index, node) {
            //console.log(index, $(node).text());
            if (index == 0) {
                stringTypes += $(node).text();
            } else {
                stringTypes += "#" + $(node).text();
            }

        });
        ////console.log(stringTypes);
        var columnNumberData;
        var ascOrDescData;

        if (columnNumber != null) {
            columnNumberData = columnNumber;
        }

        if (ascOrDesc != null) {
            ascOrDescData = ascOrDesc;
        }

        $.post("@Url.Action("_IndexTable","OtherSpendings")", { alkuPvm: dateBegin, loppuPvm: dateEnd, kulutyypit: stringTypes, columnNumber: columnNumberData, ascOrDesc: ascOrDescData } ,function(data){

            $("#createBodyHere").html(data);
            editNodes = $(".getOtherSpendingId");
            deleteNodes = $(".delOtherSpendingId");

            $(deleteNodes).click(function () {
                createDiv("otherSpendingDelete");
                let otherSpendingId2 = $(this).data("otherspendingid2");
                var url = "/otherspendings/_ModalDelete/?id=" + otherSpendingId2;
                var $detailDivDelete = $("#otherSpendingDelete");

                $.get(url, function (data) {
                    $detailDivDelete.replaceWith(data);
                    $('#ModalOtherSpendingDelete').modal('show');
                });
            });

            $(editNodes).click(function () {
                createDiv("otherSpendingEdit");
                let otherSpendingId = $(this).data("otherspendingid");
                var url = "/otherspendings/_ModalEdit/?id=" + otherSpendingId;
                var $detailDivEdit = $("#otherSpendingEdit");

                $.get(url, function (data) {
                    $detailDivEdit.replaceWith(data);
                    $('#ModalotherSpendingEdit').modal('show');
                });
            });


        });
    }

    $("#beginDate").change(function () {
        //console.log("toimii");
        filterTableAJAX("", "");    });

    $("#endDate").change(function () {
        filterTableAJAX("", "");    });


    $(function () {
        $('#homeClicked').removeClass('active');
        $('#spendingsClicked').addClass('active');
        $('#othersClicked').removeClass('active');
    });

        /* Create Modal Window */
    $(function () {
        $(".creNewOtherSpending").click(function () {
            createDiv("otherSpendingCreate");
            var url = "/OtherSpendings/_ModalCreate";
            var $detailDivCreate = $("#otherSpendingCreate");

            $.get(url, function (data) {
                $detailDivCreate.replaceWith(data);
                $('#ModalOtherSpendingCreate').modal('show');
            });
        });
    });

    //On page load showes chart's partials with data for current year
    $(document).ready(async function () {


        var thisYear = new Date().getFullYear();
        document.getElementById("Vuosi").value = thisYear;
        var url = "/OtherSpendings/Chart/?year=" + thisYear;
        var urlBar = "/OtherSpendings/BarChart/?year=" + thisYear;
        var divForPartial = $("#chartContainer");
        var divForPartialBar = $("#chartContainerBar");

        await $.ajax({
            url: url,
            cache: false,
            contentType: false,
            processData: false,
            method: 'get',
            type: "get",
            success: function (result) {
                $(divForPartial).html("");
                $(divForPartial).html(result);
            }
        });
        await $.ajax({
            url: urlBar,
            cache: false,
            contentType: false,
            processData: false,
            method: 'get',
            type: "get",
            success: function (result) {
                $(divForPartialBar).html("");
                $(divForPartialBar).html(result);
            }
        });

        filterTableAJAX("", "");
    });

    //On year's dropdown change showes chart's partials with data for selected year
    $('#Vuosi').change(async function () {
        var thisYear = $(this).val();
        var url = "/OtherSpendings/Chart/?year=" + thisYear;
        var urlBar = "/OtherSpendings/BarChart/?year=" + thisYear;
        var divForPartial = $("#chartContainer");
        var divForPartialBar = $("#chartContainerBar");

            await $.ajax({
                url: url,
                cache: false,
                contentType: false,
                processData: false,
                method: 'get',
                type: "get",
                success: function (result) {
                    $(divForPartial).html("");
                    $(divForPartial).html(result);
                }
            });
            await $.ajax({
                url: urlBar,
                cache: false,
                contentType: false,
                processData: false,
                method: 'get',
                type: "get",
                success: function (result) {
                    $(divForPartialBar).html("");
                    $(divForPartialBar).html(result);
                }
            });
        });

</script>