@model Kiinteistosovellus.Models.MonthlySpendingTypes




<div class="modal fade" id="ModalMSDelete">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h3>Poista</h3>
            </div>

            <div class="modal-body">
                <h5>Oletko varma, että haluat poistaa tämän?</h5>
                <div>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            Kulutustyyppi
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TypeName)
                        </dd>

                        <dt>
                            Yksikkö
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Unit)
                        </dd>
                    </dl>
                </div>
            </div>

            <div class="modal-footer">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-primary">Poista</button>
                    @Html.ActionLink("Takaisin", "Index", "MonthlyspendingTypes")
                }
            </div>
        </div>
    </div>
</div>








