@{
    ViewBag.Title = "Kiinteistösovellus";
}

<br />
<h2>
    Tervetuloa Kiinteistösovellukseen!
</h2>
<p class="lead">
    Ole hyvä ja kirjaudu sisään nähdäksesi sen toiminnot.<br />
    Rekisteröityminen sovellukseen on mahdollista vain ylläpitäjän kautta.<br />
</p>

