@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <div>
        <div class="row">
            <div class="col-md-6"><canvas style="width:100%;max-width:400px;max-height:400px" id="typeChart"></canvas></div>
            @*<div class="col-md-6"><canvas id="timeChart"></canvas></div>*@
        </div>
    </div>
</div>
<script>
    //FIRST CHART
    let labelTexts = [@Html.Raw(ViewBag.Category)];
    let dataValues = [@ViewBag.Price];
    const ctx = document.getElementById('typeChart');

    new Chart(ctx, {
        type: 'pie',
        data: {
            labels: labelTexts,
            datasets: [{
                label: ' euroa',
                data: dataValues,
                borderColor: 'white',
                backgroundColor: ['rgba(163, 199, 154, 1)',
                    'rgba(109, 213, 93, 0.8)',
                    'rgba(104, 168, 94, 0.8)',
                    'rgba(183, 235, 170, 0.8)',
                    'rgba(155, 223, 174, 0.8)',
                    'rgba(154, 199, 171, 0.8)',
                    'rgba(129, 227, 167, 0.8)',
                    'rgba(124, 156, 117, 0.8)',
                    'rgba(202, 247, 201, 0.8)'],
                fill: true,
                borderWidth: 1
            }]
        },
        options: {
            plugins: {
                title: {
                    display: true,
                    text: 'Käytetyn rahan kokonaismäärä kulutyypin mukaan'
                },
                legend: {
                    position: 'bottom'
                }
            }
        }
    });
</script>
