<canvas style="width:100%;max-width:400px;max-height:400px" id="typeChart"></canvas>
<div id="nothing" style="margin-left:20%; margin-top:20%">Ei tietoja tälle vuodelle</div>

<script type="text/javascript">
    $(document).ready(function(){
               //CHART
        let labelTexts = [@Html.Raw(ViewBag.Category)];
        let dataValues = [@ViewBag.Price];
        //console.log(labelTexts);
        //console.log(dataValues);
        const ctx = document.getElementById('typeChart');
        
        var kaavio = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: labelTexts,
                datasets: [{
                    label: ' euro',
                    data: dataValues,
                    borderColor: 'white',
                    backgroundColor: ['rgba(112, 173, 71, 1)',
                        'rgba(112, 173, 71, 0.9)',
                        'rgba(112, 173, 71, 0.8)',
                        'rgba(112, 173, 71, 0.7)',
                        'rgba(112, 173, 71, 0.6)',
                        'rgba(112, 173, 71, 0.5)',
                        'rgba(112, 173, 71, 0.4)',
                        'rgba(112, 173, 71, 0.3)',
                        'rgba(117, 184, 72, 0.1)',
                        'rgba(117, 184, 72, 0.9)',
                        'rgba(117, 184, 72, 0.8)',
                        'rgba(117, 184, 72, 0.7)',
                        'rgba(117, 184, 72, 0.6)',
                        'rgba(117, 184, 72, 0.5)',
                        'rgba(117, 184, 72, 0.4)',
                        'rgba(117, 184, 72, 0.3)',],
                    fill: true,
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    title: {
                        display: true,
                        text: 'Kaikki kulut kulutusyypin mukaan vuonna @ViewBag.ThisYear.',
                        font: {
                            size: 15,
                            family: "sans-serif"
                        }
                    },
                    legend: {
                        position: 'bottom',
                        labels: {
                            usePointStyle: true,
                            pointStyle: 'rectRounded',
                            pointStyleWidth: 70,
                            font: {
                                size: 15,
                                family: "sans-serif",
                                style: "normal"
                            }
                        }
                    }
                }
            }
        });

        //if there is no data for current year chart is hidden and message is shown
        let noData = document.getElementById('nothing');
        if (labelTexts.length === 1 && labelTexts[0] == '') {
            noData.style.display = 'block';
            ctx.style.display = 'none';
        }
        else {
            noData.style.display = 'none';
            ctx.style.display = 'block';
        }
    });

</script>