@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tallenna kuva</h2>
<br  />
<div style="color:red">@ViewBag.error</div>

@using (Html.BeginForm("Upload", "Images", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-horizontal">
        <div class="form-group">
            <label class ="control-label col-md-2"  for="Photo">
                </label>
                <div class ="col-md-10">
                    <input type="file" name="photo" />
                    
    </div>
    </div>

    <div class ="form-group">
        <div class ="col-md-offset-2 col-md-10">
            <input type ="submit"  value="Tallenna"  class="btn" />
            </div>  

            </div>  
            </div>

        }
